@import url('https://fonts.googleapis.com/css?family=Montserrat');

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

#content h1 {
  color: #fff;
  font-size: 3em;
  margin: 0 0 80px 100px;
}

.contacts img {
  margin: 0 30px 0 100px;
  width: 40px;
}

.contacts a:first-child img {
  margin-bottom: -11px;
}

.contacts a:nth-child(2) img {
  margin-bottom: -5px;
}

.contacts a:last-child img {
  margin-bottom: -15px;
}

.contacts a {
  display: block;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  margin-top: 50px;
  position: relative;
}

.contacts a:first-child {
  margin-top: 0;
}

.contacts a:hover {
  color: #fff;
}

.contacts a:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.contacts a:first-child:before {
  content: "";
  margin-left: 169px;
  width: 63%;
}

.contacts a:nth-child(2):before {
  content: "";
  margin-left: 169px;
  width: 69%;
}

.contacts a:last-child:before {
  content: "";
  margin-left: 169px;
  width: 52%;
}

.contacts a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



.btn {
  font-size: 1.6em;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background: none;
  border: 5px solid #24f399;
  display: block;
  margin: 100px 0 0 100px;
  padding: 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn::before,
.btn::after {
  background: #24f399;
  color: #252525;
  content: '';
  position: absolute;
  z-index: -1;
}

.btn::after {
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn:hover:after {
  height: 100%;
  width: 135%;
}

.btn:hover {
  color: #252525;
}

.btn,
.btn::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

@media screen and (max-width: 992px) {
  #content a:first-child:before {
    content: "";
    width: 35%;
  }
  
  #content a:nth-child(2):before {
    content: "";
    width: 38%;
  }
  
  #content a:last-child:before {
    content: "";
    width: 29%;
  }

  #content button {
    width: 460px;
  }
}

@media screen and (max-width: 768px) {
  #content h1 {
    font-size: 2em;
    display: block;
    margin: 50px auto 50px auto;
  }

  #content a {
    margin: 30px 0 0 0;
    text-align: center;
  }

  #content a:first-child {
    margin: 0;
  }

  #content a:before {
    display: none;
  }

  #content img {
    margin: 0 10px 0 5px;
  }

  #content button {
    display: block;
    margin: 80px auto 0 auto;
    max-width: 350px;
  }
}

@media screen and (max-width: 392px) {
  #content h1 {
    font-size: 1.8em;
    display: block;
    margin: 50px auto 50px auto;
  }

  #content a {
    margin: 30px 0 0 0;
    text-align: center;
    font-size: 1.125em;
  }

  #content a:first-child {
    margin: 0;
  }

  #content a:before {
    display: none;
  }

  #content img {
    display: none;
  }

  #content button {
    display: block;
    margin: 80px auto 0 auto;
    max-width: 300px;
  }
}