@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700,900');

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.texts h1 {
  color: #fff;
  font-size: 3em;
  margin-left: 100px; 
}

.texts h1:first-child {
  font-size: 3.50em;
}

.img {
  margin-right: 100px;
}

.img img {
  display: block;
  max-width: 100%;
}

.btn a {
  text-align: center;
  text-decoration: none;
  background: none;
  border: 5px solid #24f399;
  color: #fff;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 50px;
  padding: 20px 50px 20px 50px;
  position: relative;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
}

.btn a::before,
.btn a::after {
  background: #24f399;
  color: #252525;
  content: '';
  position: absolute;
  z-index: -1;
}

.btn a:hover {
  color: #252525;
}

.btn a::after {
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn a:hover:after {
  height: 100%;
  width: 135%;
}
.btn a,
.btn a::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn {
  display: none;
}


@media screen and (max-width: 992px) {
  #content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .texts {
    display: block;
    margin: 0 auto;
  }

  .texts h1 {
    margin: 0;
    text-align: center;
    font-size: 2.5em;
  }

  .texts h1:first-child {
    margin-top: 50px;
  }

  .texts h1:last-child {
    margin-top: 30px;
  }

  .img {
    display: none;
  }

  .btn {
    display: flex;
    justify-content: space-between;
  }
}

#notfound {
  position: relative;
  height: 100vh;
  background: #030005;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 180px;
  margin-bottom: 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50% , -50%);
      -ms-transform: translate(-50% , -50%);
          transform: translate(-50% , -50%);
  font-size: 224px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -12px;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
  letter-spacing: -20px;
}


.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #8400ff;
  letter-spacing: 13px;
  margin: 0;
}

.notfound p {
  font-family: 'Montserrat', sans-serif;
  left: 0;
  right: 0;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 2px 0px #8400ff;
  margin: 0 0 30px 0;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #ff005a;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 35px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a i {
  font-size: 22px;
  font-weight: normal;
}

.notfound a:hover {
  color: #8400ff;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
      font-size: 182px;
  }
}
