@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content h1 {
  color: #fff;
  font-size: 3em;
  margin-left: 100px;
  font-family: 'Montserrat', sans-serif;
}