@import url('https://fonts.googleapis.com/css?family=Lato');

img {
  display: block;
  max-width: 100%;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
}

#content {
  font-family: 'Lato', sans-serif;
  max-width: 100%;
}

.menu-mobile {
  z-index: 800;
}

.projeto {
  max-width: 800px;
  max-height: 600px;
  border: 15px solid #24f399;
  text-align: center;
  padding: 20px;
}

.projeto img {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 620px;
}

.projeto p {
  padding: 10px;
}

.infos p {
  font-size: 0.7em;
}

.infos img {
  width: 30px;
  display: inline-block;
  transition: transform .2s;
}

.infos a:last-child {
  margin-left: 50px;
}

.infos img:hover {
  transform: scale(1.5);
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  margin: 0 20px;
  overflow: hidden;
  transform: scale(.8);
  transition: .4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

[data-control="slide"] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

[data-control="slide"] li a {
  display: block;
  width: 12px;
  height: 12px;
  background: #FB5;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  margin: 5px;
}

.custom-controls {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.custom-controls li {
  opacity: .8;
  transform: scale(.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,.5);
  transition: .3s;
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}

.custom-controls li {
  cursor: pointer;
}

.arrow-nav {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.arrow-nav button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
  width: 40px;
  height: 40px;
  background: #FB5 url('../image/arrow.svg') center center no-repeat;
}

.arrow-nav button.prev {
  transform: rotate(-180deg);
}

.next {
  margin-left: 30px;
}

@media screen and (min-width: 430px) and (max-width: 830px) {
  .projeto {
    max-width: 295px;
    padding: 10px;
    margin-top: 50px;
  }

  .projeto img {
    max-width: 295px;
  }

  #slide {
    max-width: 350px;
  }
}

@media screen and (max-width: 429px) {
  .projeto {
    width: 300px;
    height: 700px;
    padding: 10px;
    margin-top: 50px;
    border: 8px solid #252525;
  }

  .projeto img {
    max-width: 255px;
  }

  #slide {
    width: 300px;
    height: 700px;
  }

  #prev, #next {
    display: none;
  }
}