@import url('https://fonts.googleapis.com/css?family=Lato');

#content {
  font-family: 'Lato', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-mobile {
  z-index: 800;
}

.projeto {
  max-width: 800px;
  max-height: 600px;
  border: 15px solid #24f399;
  text-align: center;
  padding: 20px;
}

.projeto img {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 620px;
}

.projeto p {
  padding: 10px;
}

.infos p {
  font-size: 0.7em;
}

.infos img {
  width: 30px;
  display: inline-block;
  transition: transform .2s;
}

.infos a:last-child {
  margin-left: 50px;
}

.infos img:hover {
  transform: scale(1.5);
}

#prev, #next {
  width: 50px;
  cursor: pointer;
}

#prev {
  margin-right: 20px;
}

#next {
  margin-left: 20px;
}

#slide {
  overflow: hidden;
  max-width: 690px;
  max-height: 710px;
  display: inline-block;
}

#slide ul {
  position: relative;
  display: flex;
}


@media screen and (min-width: 430px) and (max-width: 830px) {
  .projeto {
    max-width: 295px;
    padding: 10px;
    margin-top: 50px;
  }

  .projeto img {
    max-width: 295px;
  }

  #slide {
    max-width: 350px;
  }
}

@media screen and (max-width: 429px) {
  .projeto {
    width: 300px;
    height: 700px;
    padding: 10px;
    margin-top: 50px;
    border: 8px solid #252525;
  }

  .projeto img {
    max-width: 255px;
  }

  #slide {
    width: 300px;
    height: 700px;
  }

  #prev, #next {
    display: none;
  }
}