@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  background: #252525;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
}

#sidebar {
  width: 70px;
  height: 100vh;
  background: #f1f1f1;
  background: #161616;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  color: #24f399;
}

.menu img {
  width: 32px;
  padding: 10px;
  transition: transform .2s;
}

.menu img:hover {
  transform: scale(1.5);
}

.social i {
  font-size: 1.125em;
  color: #ccc;
  padding: 10px;
  transition: transform .2s;
}

.social img {
  width: 25px;
  padding: 5px;
  transition: transform .2s;
}

.social img:hover {
  transform: scale(1.5);
}

.menu-mobile {
  display: none;
}

@media screen and (max-width: 992px) {
  #sidebar {
    width: 100%;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .menu, .social {
    display: none;
  }

  .menu-mobile {
    display: flex;
  }

  .menu-mobile button {
    background: none;
    border: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 1.125em;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .menu-mobile ul {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: none;
  }
  
  [data-menu="menu"] img {
    width: 50px;
  }

  .menu-mobile ul.active {
    display: flex;
  }
  
  [data-menu="close"] i {
    top: 0;
    font-size: 2em;
  }
  
  .menu-mobile a {
    text-decoration: none;
    color: #fff;
    font-size: 2.25em;
    text-transform: uppercase;
    line-height: 2;
  }
}